<div id="container">
    <p class="mat-headline">Pick an existing address</p>
    <mat-error *ngIf="!addresses.length">You have no existing addresses</mat-error>
    <mat-radio-group *ngIf="addresses.length" class="addresses" (change)="setAddress($event)">
        <mat-card class="address" *ngFor="let address of addresses">
            <mat-radio-button [value]="address.address?.id" color="primary">
                <p>{{address.address?.firstName}} {{address.address?.lastName}},</p>
                <p>{{address.address?.line1}},</p>
                <p>{{address.address?.city}},</p>
                <p>{{address.address?.zipCode}},</p>
                <p>{{address.address?.stateCode}}, {{address.address?.countryCode}}</p>
                <p>{{address.address?.phone}}</p>
            </mat-radio-button>
        </mat-card>
    </mat-radio-group>
</div>