<div id="container">
    <app-title title="Redeem a code" subtitle="Enter a coupon code or gift card"></app-title>
    <mat-form-field appearance="outline">
        <mat-label>Coupon Code</mat-label>
        <input matInput>
        <mat-icon matPrefix>card_giftcard</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Gift Card Code</mat-label>
        <input matInput>
        <mat-icon matPrefix>redeem</mat-icon>
    </mat-form-field>
    <button color="primary" mat-flat-button>CONTINUE TO CART</button>
</div>