<mat-grid-list cols="{{cols}}" rowHeight="4:5" gutterSize="1.5em">
    <mat-grid-tile *ngFor="let product of products">
        <mat-card>
            <img id="card-image" mat-card-image src="{{product.imageUrl}}" alt="product photo">
            <mat-card-content>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.prices[0].formattedAmount}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary">View Item</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>