.addresses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.address {
    margin: 10px;
}

mat-radio-button p {
    margin-bottom: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

mat-card {
    border: 1px solid lightgray !important;
    width: 190px;
}

@media only screen and (min-width: 600px) {
    .addresses {
        max-width: 70vw;
    }
    .address {
        flex-shrink: 3;
    }
}