<div id="container">
    <h1 class="mat-display-3">Create Account</h1>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput>
            <mat-icon matPrefix>portrait</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput>
            <mat-icon matPrefix>portrait</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email">
            <mat-icon matPrefix>alternate_email</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password">
            <mat-icon matPrefix>vpn_key</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password">
            <mat-icon matPrefix>vpn_key</mat-icon>
        </mat-form-field>
    </p>
    <button mat-flat-button color="primary">Sign Up</button>
</div>