<div id="container">
    <mat-card *ngIf="product" class="product-card">
        <img mat-card-image src="{{product.imageUrl}}" alt="Photo of a product">
        <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.prices[0].compareAtAmountFloat | currency:'EUR'}}</mat-card-subtitle>
            <p>
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
            <button mat-raised-button color="accent">
                <mat-icon>check_circle</mat-icon>
                Added
            </button>
            <button mat-raised-button color="primary" routerLink="/">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </mat-card-actions>
    </mat-card>
</div>