<div id="container">
    <mat-card *ngIf="product" class="product-card">
        <img mat-card-image src="{{product.imageUrl}}" alt="Photo of a product">
        <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.prices[0].compareAtAmountFloat | currency:'EUR'}}</mat-card-subtitle>
            <p>
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="quantity" mat-stroked-button [matMenuTriggerFor]="menu">
                {{quantity}}
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="menu-without-scroll">
                <button *ngFor="let no of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" (click)="setQuantity(no)" mat-menu-item>{{no}}</button>
            </mat-menu>
            <button mat-raised-button color="accent" (click)="addItemToCart()">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
            <button mat-raised-button color="primary" routerLink="/">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </mat-card-actions>
    </mat-card>
</div>