<div id="header-container">
    <div id="left-half">
        <h1><span id="lime-text">Lime</span><span id="store-text">Store</span></h1>
    </div>
    <div id="right-half">
        <div id="button-container">
            <button mat-icon-button color="primary" aria-label="shopping cart">
                <mat-icon aria-label="shopping cart">shopping_cart</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="login">
                <mat-icon aria-label="login">login</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="logout">
                <mat-icon aria-label="logout">logout</mat-icon>
            </button>
        </div>
    </div>
</div>