<h3>Order #id (7 items)</h3>
<div class="line-item" *ngFor="let item of items">
    <div id="product-details">
        <img class="image-xs" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div id="line-details">
            <div>{{item.name}}</div>
            <div> {{item.price | currency }} </div>
        </div>
    </div>
    <div id="product-config">
        <button class="quantity" mat-stroked-button [matMenuTriggerFor]="menu">
            2
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>1</button>
            <button mat-menu-item>2</button>
        </mat-menu>
        <div class="itemTotal"> {{item.price*2 | currency }} </div>
        <button mat-icon-button color="warn">
                <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<div class="costSummary">
    <div class="costItem" *ngFor="let item of summary" [id]="item.id">
        <h3 class="costLabel">{{item.name}}</h3>
        <p> {{item.amount | currency }} </p>
    </div>
</div>
<mat-divider></mat-divider>
<div class="costSummary">
    <div class="costItem" id="total">
        <h2 id="totalLabel">Total</h2>
        <h2> $166.50 </h2>
    </div>
</div>
<div id="checkout-button">
    <button color="primary" mat-flat-button>CHECKOUT</button>
</div>