<form id="container" [formGroup]="addressForm" (ngSubmit)="createAddress()">
    <p class="mat-headline" *ngIf="showTitle">Or add a new address</p>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="line1" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput>
        </mat-form-field>
    </div>
    <div class="row">
        <app-country-select (setCountryEvent)="setCountryCode($event)"></app-country-select>
        <mat-form-field appearance="outline">
            <mat-label>State Code</mat-label>
            <input formControlName="stateCode" matInput>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input formControlName="zipCode" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput>
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" [disabled]="!addressForm.valid || !countryCode.length">{{buttonText}}</button>
</form>